.results-page {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-page-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 3rem 4rem 3rem 4rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  gap: 2rem;
}

.results-page-head-can {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.results-correct {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.results-incorrect {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.results-score {
  font-size: 20px;
  font-weight: 500;
}

.results-questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.results-post-button {
  width: 200px;
  color: #000;
  border: 2px solid black;
  border-radius: 30px;
  padding: 8px;
}

.results-post-button:hover {
  background-color: #333433;
  transition: 0.2s ease;
  color: #fff;
}

.results-leaderboard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.results-lb-head {
  border-bottom: 2px solid #eaeaea;
}

.results-lb-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow-y: scroll;
  width: 100%;
  gap: 0.25rem;
}

.results-lb-item {
  font-size: 18px;
}

.results-lb-text {
  display: flex;
  gap: 1rem;
}

.first-place {
  color: goldenrod;
  font-size: 24px;
}

.second-place {
  color: silver;
  font-size: 24px;
}

.third-place {
  color: brown;
  font-size: 24px;
}

.medal-img {
  width: 30px;
}

.filled {
  fill:#000
}

.results-star {
  color: gold
}

.results-star:hover {
  color: rgb(255, 183, 0);
}

.results-heart {
  color: rgb(246, 81, 81);
}

.results-heart:hover {
  color: red;
}

.results-comments {
  display: flex;
  flex-direction: column;
}

.results-comments-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.results-comments-actual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.results-comments-title,
.results-rating-title,
.user-comments-title {
  font-size: 20px;
}

.results-rating {
  display: flex;
  gap: 1.0rem;
}

.results-rating-stars {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#comment {
  border: 2px solid #b1b1b1;
  width: 400px;
  height: 200px;
  padding: 8px;
}

.results-comments-shown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.user-comments {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  overflow-y: scroll;
}

.quiz-each-comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
  align-items: flex-start;
}

.quiz-comment-comment {
  display: flex;
  flex-direction: column;
}
.quiz-comment-username {
  font-size: 14px;
  font-weight: 600;
}

.quiz-comment-likes {
  padding-left: 0.5px;
}

.quiz-each-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}

.quiz-each-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}

.quiz-each-right-1 {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}


@media screen and (max-width: 1050px) {
  .results-page-container {
    padding: 2rem 1rem 2rem 1rem;
    margin: 1rem 0rem 1rem 0rem;
  }

  .results-page-head-can {
    justify-content: center;
    align-items: center;
  }

  .results-correct-answer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .results-lb-text {
    justify-content: flex-start;
    align-items: center;
  }

  .medal-img {
    width: 30px;
    height: 30px;
  }

  .first-place,
  .second-place,
  .third-place {
    font-size: 22px;
  }

  .results-comments-head {
    width: 100%;
  }

  .results-comments-actual {
    gap: 1rem;
    width: 100%;
  }

  #comment {
    border: 2px solid #b1b1b1;
    width: 100%;
    height: 100%;
    padding: 8px;
  }
}