
.navbar  {
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    width: 180px;
    height: 100px;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.navbar ul li:hover {
    color: darkgray;
}
.dark-nav {
    background: #000;
    transition: 0.4s ease;
}

.login-btn {
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.login-btn:hover {
    background-color: #3a3b3c;
    color: #fff;
    transition: 0.2s ease;
}

.sidenav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.login-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 1050px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: contents;
    }

    .mobile-navicon {
        color: white;
    }

    .mobile-login-btn {
        background: #fff;
        color: #212121;
        padding: 14px 25px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        border: 2px solid black;
        outline: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}